.row{   

    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:center;
    justify-content:space-around;
}
#headshot{
    width:20%;
    border-radius:40%;
   
}
.mid{
    background-color:black;
    color:blue;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;       
}
.row a{
 text-decoration:none;
 color:white;
}
.row a:hover{
    color:orange;
}
#pic{
    width: 1030px;
}
body{
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4ATR6Ce6giltbo8pp/technology-background-digital-code-on-computer-screen-cg-animation_vwrndnqtg__F0000.png")
}

.about{
    color: white;
    font-size: 30px;
}
#f{
font-family: 'Merienda', cursive;
}
#l{
    
font-family: 'Merienda', cursive;    
}

h2{
    text-align:center;
}
#port{
      color: red;
    font-size: 20px;
}
#proj{
    display:block;
}
.p{
    font-size:30px;
    color:white;
    text-decoration:none;
}
.p:active{
    color:#990406;
}
#ex{
 font-size:35px;
 color:#fb3503;
}